.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 120px;
    padding-right: 120px;
    .app-name {
        margin-top: 180px;
        font-size: 68px;
        text-align: center;
    }
    .submit {
        margin-top: 64px;
        color: #fff;
        width: 100%;
    }
}